In [1]:
# https://www.properati.com.ar/data
! wget -O ar_properties.csv.gz -q https://storage.googleapis.com/properati-data-public/ar_properties.csv.gz
! gzip -d -f ./ar_properties.csv.gz

In [5]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import sklearn as sk
from sklearn import model_selection
from sklearn import ensemble
from sklearn import metrics

import datetime

# Lectura de datos

In [6]:
df_properties = pd.read_csv('./ar_properties.csv', index_col="id")
df_apred = pd.read_csv('./a_predecir.csv', index_col="id")

In [7]:
df = df_properties.copy()
df_pred = df_apred.copy()

In [31]:
df.head()

,start_date,end_date,created_on,l2,l3,l4,l5,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type,bath_rooms
id,,,,,,,,,,,,,,,,,,,,
LrDZTDP9vyylLQ3SmazY1A==,2020-08-22,2020-09-04,2020-08-22,Capital Federal,Boedo,NaN,NaN,0.0,0.0,0.0,520.0,520.0,70000.0,ARS,Mensual,Depósito con Oficina en Boedo,Depósito con amplias y cómodas oficinas y c...,Oficina,Alquiler,0
taiJHW87e1CmCPpuSgCbBA==,2020-08-22,2020-09-04,2020-08-22,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,NaN,0.0,0.0,2.0,95.0,0.0,35000.0,ARS,Mensual,Oficina - Paseo de la Bahia - Studios I,Excelente oportunidad! Oficina de 95 mts2 con ...,Oficina,Alquiler,1
RqacGyDGe/sKe4TYtuLLtg==,2020-08-22,2020-09-04,2020-08-22,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,NaN,0.0,0.0,2.0,90.0,0.0,27000.0,ARS,Mensual,Oficina - Paseo de la Bahia - Studios I,Excelente oportunidad! Oficina de 90 mts2 con ...,Oficina,Alquiler,1
hbIvfOetTyeiCcFPM4FATA==,2020-08-22,2020-09-04,2020-08-22,Capital Federal,Recoleta,NaN,NaN,0.0,0.0,3.0,265.0,265.0,65000.0,ARS,Mensual,Oficina comercial · 265m² · 2 Cochera,Gran Oportunidad! Unica piso de oficinas de 26...,Oficina,Alquiler,1
srXXAu7Fb8/Kng0/cxUe7g==,2020-08-22,2020-09-04,2020-08-22,Capital Federal,Balvanera,NaN,NaN,0.0,0.0,1.0,80.0,80.0,60000.0,ARS,Mensual,Oficina - Balvanera | Vista al pasaje Discépolo,"Edificio de oficinas desarrollado en Subsuelo,...",Oficina,Alquiler,1

In [565]:
df_pred.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1087 entries, 1 to 1087
Data columns (total 76 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   rooms                       1087 non-null   float64
 1   bedrooms                    1087 non-null   float64
 2   bathrooms                   1087 non-null   float64
 3   surface_total               1087 non-null   float64
 4   surface_covered             1087 non-null   float64
 5   price                       1087 non-null   float64
 6   lnrooms                     1087 non-null   float64
 7   lnbedrooms                  1087 non-null   float64
 8   l3_2 Ambientes              1087 non-null   uint8
 9   l3_Abasto                   1087 non-null   uint8
 10  l3_Agronomía                1087 non-null   uint8
 11  l3_Almagro                  1087 non-null   uint8
 12  l3_Balvanera                1087 non-null   uint8
 13  l3_Barracas                 1087 non-null   uint8
 14  l3_Barrio Norte             1087 non-null   uint8
 15  l3_Belgrano                 1087 non-null   uint8
 16  l3_Boca                     1087 non-null   uint8
 17  l3_Boedo                    1087 non-null   uint8
 18  l3_Caballito                1087 non-null   uint8
 19  l3_Catalinas                1087 non-null   uint8
 20  l3_Centro / Microcentro     1087 non-null   uint8
 21  l3_Chacarita                1087 non-null   uint8
 22  l3_Coghlan                  1087 non-null   uint8
 23  l3_Colegiales               1087 non-null   uint8
 24  l3_Congreso                 1087 non-null   uint8
 25  l3_Constitución             1087 non-null   uint8
 26  l3_Flores                   1087 non-null   uint8
 27  l3_Floresta                 1087 non-null   uint8
 28  l3_GBA Norte                1087 non-null   uint8
 29  l3_Las Cañitas              1087 non-null   uint8
 30  l3_Liniers                  1087 non-null   uint8
 31  l3_Mataderos                1087 non-null   uint8
 32  l3_Monserrat                1087 non-null   uint8
 33  l3_Monte Castro             1087 non-null   uint8
 34  l3_Nueva Pompeya            1087 non-null   uint8
 35  l3_Nuñez                    1087 non-null   uint8
 36  l3_Once                     1087 non-null   uint8
 37  l3_Palermo                  1087 non-null   uint8
 38  l3_Parque Avellaneda        1087 non-null   uint8
 39  l3_Parque Centenario        1087 non-null   uint8
 40  l3_Parque Chacabuco         1087 non-null   uint8
 41  l3_Parque Chas              1087 non-null   uint8
 42  l3_Parque Patricios         1087 non-null   uint8
 43  l3_Paternal                 1087 non-null   uint8
 44  l3_Pompeya                  1087 non-null   uint8
 45  l3_Puerto Madero            1087 non-null   uint8
 46  l3_Recoleta                 1087 non-null   uint8
 47  l3_Retiro                   1087 non-null   uint8
 48  l3_Saavedra                 1087 non-null   uint8
 49  l3_San Cristobal            1087 non-null   uint8
 50  l3_San Nicolás              1087 non-null   uint8
 51  l3_San Telmo                1087 non-null   uint8
 52  l3_Tribunales               1087 non-null   uint8
 53  l3_Velez Sarsfield          1087 non-null   uint8
 54  l3_Versalles                1087 non-null   uint8
 55  l3_Villa Crespo             1087 non-null   uint8
 56  l3_Villa Devoto             1087 non-null   uint8
 57  l3_Villa General Mitre      1087 non-null   uint8
 58  l3_Villa Lugano             1087 non-null   uint8
 59  l3_Villa Luro               1087 non-null   uint8
 60  l3_Villa Ortuzar            1087 non-null   uint8
 61  l3_Villa Pueyrredon         1087 non-null   uint8
 62  l3_Villa Pueyrredón         1087 non-null   uint8
 63  l3_Villa Real               1087 non-null   uint8
 64  l3_Villa Riachuelo          1087 non-null   uint8
 65  l3_Villa Santa Rita         1087 non-null   uint8
 66  l3_Villa Soldati            1087 non-null   uint8
 67  l3_Villa Urquiza            1087 non-null   uint8
 68  l3_Villa del Parque         1087 non-null   uint8
 69  l3_Vélez Sarsfield          1087 non-null   uint8
 70  property_type_Departamento  1087 non-null   uint8
 71  property_type_PH            1087 non-null   uint8
 72  lat                         1087 non-null   float64
 73  lon                         1087 non-null   float64
 74  lnsurface_covered           1087 non-null   float64
 75  lnsurface_total             1087 non-null   float64
dtypes: float64(12), uint8(64)
memory usage: 178.3+ KB

In [564]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102419 entries, U3qdJMKXnOJm0Y1tWpnnfg== to No3is+HhwUGlfgQfzsZbdg==
Data columns (total 76 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   rooms                       102419 non-null  float64
 1   bedrooms                    102419 non-null  float64
 2   bathrooms                   102419 non-null  float64
 3   surface_total               102419 non-null  float64
 4   surface_covered             102419 non-null  float64
 5   price                       102419 non-null  float64
 6   lnrooms                     102419 non-null  float64
 7   lnbedrooms                  102419 non-null  float64
 8   l3_2 Ambientes              102419 non-null  uint8
 9   l3_Abasto                   102419 non-null  uint8
 10  l3_Agronomía                102419 non-null  uint8
 11  l3_Almagro                  102419 non-null  uint8
 12  l3_Balvanera                102419 non-null  uint8
 13  l3_Barracas                 102419 non-null  uint8
 14  l3_Barrio Norte             102419 non-null  uint8
 15  l3_Belgrano                 102419 non-null  uint8
 16  l3_Boca                     102419 non-null  uint8
 17  l3_Boedo                    102419 non-null  uint8
 18  l3_Caballito                102419 non-null  uint8
 19  l3_Catalinas                102419 non-null  uint8
 20  l3_Centro / Microcentro     102419 non-null  uint8
 21  l3_Chacarita                102419 non-null  uint8
 22  l3_Coghlan                  102419 non-null  uint8
 23  l3_Colegiales               102419 non-null  uint8
 24  l3_Congreso                 102419 non-null  uint8
 25  l3_Constitución             102419 non-null  uint8
 26  l3_Flores                   102419 non-null  uint8
 27  l3_Floresta                 102419 non-null  uint8
 28  l3_GBA Norte                102419 non-null  uint8
 29  l3_Las Cañitas              102419 non-null  uint8
 30  l3_Liniers                  102419 non-null  uint8
 31  l3_Mataderos                102419 non-null  uint8
 32  l3_Monserrat                102419 non-null  uint8
 33  l3_Monte Castro             102419 non-null  uint8
 34  l3_Nueva Pompeya            102419 non-null  uint8
 35  l3_Nuñez                    102419 non-null  uint8
 36  l3_Once                     102419 non-null  uint8
 37  l3_Palermo                  102419 non-null  uint8
 38  l3_Parque Avellaneda        102419 non-null  uint8
 39  l3_Parque Centenario        102419 non-null  uint8
 40  l3_Parque Chacabuco         102419 non-null  uint8
 41  l3_Parque Chas              102419 non-null  uint8
 42  l3_Parque Patricios         102419 non-null  uint8
 43  l3_Paternal                 102419 non-null  uint8
 44  l3_Pompeya                  102419 non-null  uint8
 45  l3_Puerto Madero            102419 non-null  uint8
 46  l3_Recoleta                 102419 non-null  uint8
 47  l3_Retiro                   102419 non-null  uint8
 48  l3_Saavedra                 102419 non-null  uint8
 49  l3_San Cristobal            102419 non-null  uint8
 50  l3_San Nicolás              102419 non-null  uint8
 51  l3_San Telmo                102419 non-null  uint8
 52  l3_Tribunales               102419 non-null  uint8
 53  l3_Velez Sarsfield          102419 non-null  uint8
 54  l3_Versalles                102419 non-null  uint8
 55  l3_Villa Crespo             102419 non-null  uint8
 56  l3_Villa Devoto             102419 non-null  uint8
 57  l3_Villa General Mitre      102419 non-null  uint8
 58  l3_Villa Lugano             102419 non-null  uint8
 59  l3_Villa Luro               102419 non-null  uint8
 60  l3_Villa Ortuzar            102419 non-null  uint8
 61  l3_Villa Pueyrredon         102419 non-null  uint8
 62  l3_Villa Pueyrredón         102419 non-null  uint8
 63  l3_Villa Real               102419 non-null  uint8
 64  l3_Villa Riachuelo          102419 non-null  uint8
 65  l3_Villa Santa Rita         102419 non-null  uint8
 66  l3_Villa Soldati            102419 non-null  uint8
 67  l3_Villa Urquiza            102419 non-null  uint8
 68  l3_Villa del Parque         102419 non-null  uint8
 69  l3_Vélez Sarsfield          102419 non-null  uint8
 70  property_type_Departamento  102419 non-null  uint8
 71  property_type_PH            102419 non-null  uint8
 72  lat                         0 non-null       float64
 73  lon                         0 non-null       float64
 74  lnsurface_covered           102419 non-null  float64
 75  lnsurface_total             102419 non-null  float64
dtypes: float64(12), uint8(64)
memory usage: 16.4+ MB

In [396]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 151918 entries, U3qdJMKXnOJm0Y1tWpnnfg== to RYlWKNYAOPbDbHGoYD/PAA==
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   l3               151342 non-null  object
 1   rooms            151918 non-null  float64
 2   bedrooms         151918 non-null  float64
 3   bathrooms        151918 non-null  float64
 4   surface_total    151918 non-null  float64
 5   surface_covered  151918 non-null  float64
 6   price            151918 non-null  float64
 7   property_type    151918 non-null  object
dtypes: float64(6), object(2)
memory usage: 10.4+ MB

# Análisis del conjunto de datos

In [445]:
#analizamos los valores de las distintas variables
df.l3.value_counts()

Palermo                 41131
Belgrano                29278
Recoleta                17910
Caballito               14567
Almagro                 10869
Villa Urquiza           10524
Villa Crespo            10518
Barrio Norte             8843
Nuñez                    7427
Puerto Madero            7050
San Nicolás              6780
Flores                   6694
Balvanera                6538
Colegiales               5018
Retiro                   4958
San Telmo                4401
San Cristobal            4180
Villa Devoto             4055
Monserrat                4012
Saavedra                 3825
Villa del Parque         3394
Floresta                 3064
Boedo                    3048
Barracas                 3021
Mataderos                2811
Liniers                  2615
Congreso                 2249
Parque Chacabuco         2240
Villa Pueyrredón         2110
Villa Luro               2020
Centro / Microcentro     2015
Coghlan                  1972
Chacarita                1882
Parque Patricios         1871
Once                     1681
Tribunales               1583
Paternal                 1526
Villa Lugano             1480
Constitución             1464
Villa Ortuzar            1219
Boca                     1090
Las Cañitas              1065
Monte Castro              912
Villa General Mitre       871
Abasto                    851
Villa Santa Rita          809
Parque Avellaneda         738
Pompeya                   729
Parque Centenario         703
Velez Sarsfield           573
Versalles                 550
Agronomía                 503
Parque Chas               490
Catalinas                 426
Villa Real                277
Villa Soldati             237
Villa Riachuelo            56
Name: l3, dtype: int64

In [427]:
df_pred.l4.max()

34.819

In [428]:
df_pred.l4.min()

-38.0152022

# Tratamiento de nulls y outliers

## Longitud y Latitud

In [8]:
df = df.loc[df["l1"] == "Argentina"]

In [9]:
df = df.loc[df["l2"] == "Capital Federal"]

Coordenadas maximas CABA: \
Norte - (-34.531639, -58.464800)\
Este - (-34.62073349940953, -58.338011418419356)\
Oeste - (-34.61568853226109, -58.532674897063565)\
Sur - (-34.7058110012102, -58.4602477739537)\
\
Limites:\
Longitud - (-58.532674897063565, -58.338011418419356 )\
Latitud - (-34.7058110012102, -34.531639)

In [10]:
lon_min_max = (-58.532674897063565, -58.338011418419356 )
lat_min_max = (-34.7058110012102, -34.531639)

In [11]:
df_lon_lat = df.loc[df["l2"] == "Capital Federal"]

In [12]:
df_lon_lat.drop(df_lon_lat.loc[df_lon_lat["lat"].isnull() & df_lon_lat["lon"].isnull() & df_lon_lat["l3"].isnull()].index, inplace = True)
df_lon_lat = df_lon_lat[["lat", "lon", "l3"]]
df_lon_lat["lat_outlier"] = df_lon_lat.lat.apply(lambda x: 0 if (x > lat_min_max[0]) & (x < lat_min_max[1]) else 1  )
df_lon_lat["lon_outlier"] = df_lon_lat.lon.apply(lambda x: 0 if (x > lon_min_max[0]) & (x < lon_min_max[1]) else 1 )

In [13]:
df_lon_lat.drop(df_lon_lat.loc[(df_lon_lat.lat_outlier == 1) & (df_lon_lat.l3.isnull())].index, inplace = True)
out_lon_lat_ind = df_lon_lat.loc[(df_lon_lat.lat_outlier == 1) | (df_lon_lat.lon_outlier == 1)].index
df_lon_lat_out = df_lon_lat.loc[(df_lon_lat.lat_outlier == 1) | (df_lon_lat.lon_outlier == 1)]
df_lon_lat = df_lon_lat.loc[(df_lon_lat.lat_outlier == 0) & (df_lon_lat.lon_outlier == 0)]

In [14]:
l3_list = list(df_lon_lat.l3.unique())
l3_dict_lat = {}
l3_dict_lon = {}
for i in l3_list:
    l3_dict_lon[i] = df_lon_lat.loc[df_lon_lat.l3 == i, "lon"].mean()
    l3_dict_lat[i] = df_lon_lat.loc[df_lon_lat.l3 == i, "lat"].mean()

df_lon_lat_out["lon"] = df_lon_lat_out.l3.apply(lambda x:l3_dict_lon[x])
df_lon_lat_out["lat"] = df_lon_lat_out.l3.apply(lambda x:l3_dict_lat[x])

In [15]:
for ind in out_lon_lat_ind:
    df["lon"].loc[ind] = df_lon_lat_out["lon"].loc[ind]
    df["lat"].loc[ind] = df_lon_lat_out["lat"].loc[ind]

/tmp/ipykernel_92/3971525020.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["lon"].loc[ind] = df_lon_lat_out["lon"].loc[ind]
/tmp/ipykernel_92/3971525020.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["lat"].loc[ind] = df_lon_lat_out["lat"].loc[ind]

## l3 - Barrio

Corregidas las longitudes y latitudes generamos un knn para predecir los barrios y completar l3

In [16]:
df_l3 = df[["lon","lat","l3"]]

df_l3.drop(df_l3.loc[df_l3["lon"].isnull()].index,inplace = True)
df_l3.drop(df_l3.loc[df_l3["lat"].isnull()].index,inplace = True)

df_test_l3 = df_l3.loc[df_l3["l3"].isnull()]

df_train_l3 = df_l3.loc[df_l3["l3"].notnull()]

/tmp/ipykernel_92/2478595951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_l3.drop(df_l3.loc[df_l3["lon"].isnull()].index,inplace = True)
/tmp/ipykernel_92/2478595951.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_l3.drop(df_l3.loc[df_l3["lat"].isnull()].index,inplace = True)

In [17]:
X_l3 = df_train_l3[df_train_l3.columns.drop('l3')]
y_l3 = df_train_l3['l3']

# Partimos en entrenamiento y prueba 

for i in [1,3,5,7,9,11]:
    # Creamos el objeto del modelo
    neigh = sk.neighbors.KNeighborsClassifier(n_neighbors=i, n_jobs = -1)
    
    kf = sk.model_selection.KFold(n_splits=10, shuffle=True, random_state=42)
    
    scores = []
    
    for train, test in kf.split(X_l3):
        
        X_train, X_test, y_train, y_test = X_l3.iloc[train], X_l3.iloc[test], y_l3[train], y_l3[test]
    
        # Entrenamos el modelo
        neigh.fit(X_train, y_train)
    
        # Predecimos
        y_pred_l3 = neigh.predict(X_test)
    
        # Medimos la performance de la predicción
        score = sk.metrics.accuracy_score(y_test, y_pred_l3)
        scores.append(score)
        #print(score)
    print(f"n_{i} {np.mean(scores)}")

n_1 0.8380804193175351
n_3 0.8383278341978697
n_5 0.8398275092636194
n_7 0.8394354615245071
n_9 0.8387389094042674
n_11 0.8381451235140739

In [18]:
X_pred_l3 = df_test_l3[df_test_l3.columns.drop('l3')]

# Entrenamiento
neigh = sk.neighbors.KNeighborsClassifier(n_neighbors = 5, n_jobs = -1)

# Entrenamos el modelo
neigh.fit(X_train, y_train)

# predicción
df_test_l3["l3"] = neigh.predict(X_pred_l3)

/tmp/ipykernel_92/599255535.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_l3["l3"] = neigh.predict(X_pred_l3)

In [19]:
df["l3"].loc[df["l3"].isnull()] = df_test_l3["l3"]

## Limpieza de otras columnas y lineas

In [20]:
df.drop(columns = ["ad_type","l4","l5", "l6", "created_on","start_date", "end_date","l1","l2","price_period","operation_type"], inplace = True )

In [21]:
df.dropna(subset=["price"], inplace = True)

df.dropna(subset=["currency"], inplace = True)

In [22]:
df = df.loc[df["currency"] == "USD"]

df.drop(columns = ["currency"], inplace = True )

/tmp/ipykernel_92/3524703153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ["currency"], inplace = True )

In [23]:
df["property_type_check"] = df.property_type.apply(lambda x: 1 if x in ("Departamento","PH") else 0)

df = df.loc[df["property_type_check"] == 1]

df.drop(columns = "property_type_check", inplace = True)

/tmp/ipykernel_92/354315104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["property_type_check"] = df.property_type.apply(lambda x: 1 if x in ("Departamento","PH") else 0)
/tmp/ipykernel_92/354315104.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = "property_type_check", inplace = True)

In [24]:
df.drop(df.loc[df["rooms"].isnull() & df["bedrooms"].isnull() & df["bathrooms"].isnull() & df["surface_total"].isnull() & df["surface_covered"].isnull()].index, inplace = True)

In [25]:
df_pred["rooms"].fillna(0, inplace = True)
df_pred["bedrooms"].fillna(0, inplace = True)
df_pred["bathrooms"].fillna(0, inplace = True)

In [26]:
df["rooms"].fillna(0, inplace = True)
df["bedrooms"].fillna(0, inplace = True)
df["bathrooms"].fillna(0, inplace = True)

In [27]:
df["surface_total"].loc[df["surface_total"].isnull() & df["surface_covered"] > 0] = df["surface_covered"].loc[df["surface_total"].isnull() & df["surface_covered"] > 0]

df["surface_total"].fillna(0, inplace = True)
df["surface_covered"].fillna(0, inplace = True)

/tmp/ipykernel_92/3354645445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["surface_total"].loc[df["surface_total"].isnull() & df["surface_covered"] > 0] = df["surface_covered"].loc[df["surface_total"].isnull() & df["surface_covered"] > 0]

In [28]:
df["bedrooms"].loc[df["bedrooms"] < 0 ] = abs(df["bedrooms"].loc[df["bedrooms"] < 0 ])

/tmp/ipykernel_92/3611823614.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["bedrooms"].loc[df["bedrooms"] < 0 ] = abs(df["bedrooms"].loc[df["bedrooms"] < 0 ])

In [29]:
df["surface_total"].loc[df["surface_total"] < 0 ] = abs(df["surface_total"].loc[df["surface_total"] < 0 ])

/tmp/ipykernel_92/3583135774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["surface_total"].loc[df["surface_total"] < 0 ] = abs(df["surface_total"].loc[df["surface_total"] < 0 ])

In [30]:
df["surface_covered"].loc[df["surface_covered"] < 0 ] = abs(df["surface_covered"].loc[df["surface_covered"] < 0 ])

/tmp/ipykernel_92/3604395483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["surface_covered"].loc[df["surface_covered"] < 0 ] = abs(df["surface_covered"].loc[df["surface_covered"] < 0 ])

In [31]:
df.drop(columns = ["title"], inplace = True)

In [32]:
df.drop(columns = ["lat","lon"], inplace = True)

In [33]:
df.drop(df.loc[df["price"]> 6000000].index, inplace=True)

In [34]:
df.drop(df[df.price < 15000.0].index,inplace = True)

In [35]:
df.drop_duplicates(inplace = True)

## Modifico el df_pred

In [36]:
df_pred.drop(columns = ["ad_type","l4","l5", "l6", "created_on"], inplace = True )
df_pred.drop(columns = ["l1","l2"], inplace = True )
df_pred.drop(columns = ["currency"], inplace = True )
df_pred.drop(columns = ["price_period"], inplace = True)
df_pred.drop(columns = "operation_type", inplace = True)
df_pred.drop(columns = ["start_date","end_date","services"], inplace = True)
df_pred.drop(columns = ["title","details"], inplace = True)

In [37]:
df_pred.drop(columns = ["lat","lon"], inplace = True)

# Feature Engineering

Concateno los dataframes para que tengan las mismas columnas y las variables categoricas esten alineadas

In [38]:
df_total = pd.concat([df,df_pred], axis=0)

## Additionals

Genero dummies con los additionals y lo agrego en el df

In [39]:
df_pred.additionals.fillna("zxzyzjz", inplace = True)
df_pred.additionals_split = df_pred.additionals.apply(lambda x: x.split(","))

/tmp/ipykernel_92/910923671.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_pred.additionals_split = df_pred.additionals.apply(lambda x: x.split(","))

In [40]:
additionals_list = df_pred.additionals_split.explode().unique()
additionals_list = [x.strip() for x in additionals_list]
additionals_list = list(dict.fromkeys(additionals_list))

In [41]:
df_total.description.fillna("sin_descripcion", inplace = True)

In [42]:
for additional in additionals_list:
    df_total[additional] = df_total.description.apply(lambda x: 1 if additional.lower() in x.lower() else 0)

In [43]:
df_total.drop(columns = "zxzyzjz", inplace = True)
df_total.drop(columns = "additionals", inplace = True)
df_total.drop(columns = "description", inplace = True)

## logaritmicas

In [44]:
df_total["lnrooms"] = df_total.rooms.apply(lambda x: x if x == 0 else np.log(x))

In [45]:
df_total["lnbedrooms"] = df_total.bedrooms.apply(lambda x: x if x == 0 else np.log(x))

In [46]:
df_total["lnsurface_covered"] = df_total.surface_covered.apply(lambda x: x if x == 0 else np.log(x))

In [47]:
df_total["lnsurface_total"] = df_total.surface_total.apply(lambda x: x if x == 0 else np.log(x))

## Dummies

In [49]:
df_total = pd.get_dummies(df_total, columns = ["l3", "property_type"])

## Separo el dataframe nuevamente en df_pred y df

In [58]:
df = df_total[df_total.index.isin(df.index)]
df_pred = df_total[df_total.index.isin(df_pred.index)]

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121464 entries, U3qdJMKXnOJm0Y1tWpnnfg== to No3is+HhwUGlfgQfzsZbdg==
Data columns (total 89 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   rooms                       121464 non-null  float64
 1   bedrooms                    121464 non-null  float64
 2   bathrooms                   121464 non-null  float64
 3   surface_total               121464 non-null  float64
 4   surface_covered             121464 non-null  float64
 5   price                       121464 non-null  float64
 6   Aceptan Mascotas            121464 non-null  int64
 7   Terraza                     121464 non-null  int64
 8   Pileta                      121464 non-null  int64
 9   Seguridad                   121464 non-null  int64
 10  SUM                         121464 non-null  int64
 11  Laundry                     121464 non-null  int64
 12  Balcón                      121464 non-null  int64
 13  Gimnasio                    121464 non-null  int64
 14  Aire Acondicionado          121464 non-null  int64
 15  Patio                       121464 non-null  int64
 16  Calefacción                 121464 non-null  int64
 17  Family Room                 121464 non-null  int64
 18  Alarma                      121464 non-null  int64
 19  Roof Garden                 121464 non-null  int64
 20  Aire Centralizado           121464 non-null  int64
 21  lnrooms                     121464 non-null  float64
 22  lnbedrooms                  121464 non-null  float64
 23  lnsurface_covered           121464 non-null  float64
 24  lnsurface_total             121464 non-null  float64
 25  l3_2 Ambientes              121464 non-null  uint8
 26  l3_Abasto                   121464 non-null  uint8
 27  l3_Agronomía                121464 non-null  uint8
 28  l3_Almagro                  121464 non-null  uint8
 29  l3_Balvanera                121464 non-null  uint8
 30  l3_Barracas                 121464 non-null  uint8
 31  l3_Barrio Norte             121464 non-null  uint8
 32  l3_Belgrano                 121464 non-null  uint8
 33  l3_Boca                     121464 non-null  uint8
 34  l3_Boedo                    121464 non-null  uint8
 35  l3_Caballito                121464 non-null  uint8
 36  l3_Catalinas                121464 non-null  uint8
 37  l3_Centro / Microcentro     121464 non-null  uint8
 38  l3_Chacarita                121464 non-null  uint8
 39  l3_Coghlan                  121464 non-null  uint8
 40  l3_Colegiales               121464 non-null  uint8
 41  l3_Congreso                 121464 non-null  uint8
 42  l3_Constitución             121464 non-null  uint8
 43  l3_Flores                   121464 non-null  uint8
 44  l3_Floresta                 121464 non-null  uint8
 45  l3_GBA Norte                121464 non-null  uint8
 46  l3_Las Cañitas              121464 non-null  uint8
 47  l3_Liniers                  121464 non-null  uint8
 48  l3_Mataderos                121464 non-null  uint8
 49  l3_Monserrat                121464 non-null  uint8
 50  l3_Monte Castro             121464 non-null  uint8
 51  l3_Nueva Pompeya            121464 non-null  uint8
 52  l3_Nuñez                    121464 non-null  uint8
 53  l3_Once                     121464 non-null  uint8
 54  l3_Palermo                  121464 non-null  uint8
 55  l3_Parque Avellaneda        121464 non-null  uint8
 56  l3_Parque Centenario        121464 non-null  uint8
 57  l3_Parque Chacabuco         121464 non-null  uint8
 58  l3_Parque Chas              121464 non-null  uint8
 59  l3_Parque Patricios         121464 non-null  uint8
 60  l3_Paternal                 121464 non-null  uint8
 61  l3_Pompeya                  121464 non-null  uint8
 62  l3_Puerto Madero            121464 non-null  uint8
 63  l3_Recoleta                 121464 non-null  uint8
 64  l3_Retiro                   121464 non-null  uint8
 65  l3_Saavedra                 121464 non-null  uint8
 66  l3_San Cristobal            121464 non-null  uint8
 67  l3_San Nicolás              121464 non-null  uint8
 68  l3_San Telmo                121464 non-null  uint8
 69  l3_Tribunales               121464 non-null  uint8
 70  l3_Velez Sarsfield          121464 non-null  uint8
 71  l3_Versalles                121464 non-null  uint8
 72  l3_Villa Crespo             121464 non-null  uint8
 73  l3_Villa Devoto             121464 non-null  uint8
 74  l3_Villa General Mitre      121464 non-null  uint8
 75  l3_Villa Lugano             121464 non-null  uint8
 76  l3_Villa Luro               121464 non-null  uint8
 77  l3_Villa Ortuzar            121464 non-null  uint8
 78  l3_Villa Pueyrredon         121464 non-null  uint8
 79  l3_Villa Pueyrredón         121464 non-null  uint8
 80  l3_Villa Real               121464 non-null  uint8
 81  l3_Villa Riachuelo          121464 non-null  uint8
 82  l3_Villa Santa Rita         121464 non-null  uint8
 83  l3_Villa Soldati            121464 non-null  uint8
 84  l3_Villa Urquiza            121464 non-null  uint8
 85  l3_Villa del Parque         121464 non-null  uint8
 86  l3_Vélez Sarsfield          121464 non-null  uint8
 87  property_type_Departamento  121464 non-null  uint8
 88  property_type_PH            121464 non-null  uint8
dtypes: float64(10), int64(15), uint8(64)
memory usage: 31.5+ MB

# Modelización

In [ ]:
X = df[df.columns.drop('price')]
y = df['price']

for n_estimators in [100, 300, 500, 700, 1000]:
    for max_depth in [3,5,10]:     

## Tienen que usar RandomForestRegressor si o si o si. Pueden cambiar los parámetros
#n_estimators = 5000
#max_depth = 5

        reg = sk.ensemble.RandomForestRegressor(n_estimators=n_estimators, max_depth=max_depth, n_jobs=-1, random_state=42)

        scores = []
        kf = sk.model_selection.KFold(n_splits=10, shuffle=True, random_state=42)
        for train, test in kf.split(X):
            X_train, X_test, y_train, y_test = X.iloc[train], X.iloc[test], y[train], y[test]
        
            # Entrenamos el modelo
            reg.fit(X_train, y_train)
        
            # Predecimos
            y_pred = reg.predict(X_test)
        
            # Medimos la performance de la predicción
            score = sk.metrics.mean_squared_error(y_test, y_pred)
            scores.append(score)
        print(f"max_depth:{max_depth} - mean: {np.mean(scores)} sd: {np.std(scores)}")
        
    #print(f"n_{n_estimators} - mean: {np.mean(scores)} sd: {np.std(scores)}")

max_depth:3 - mean: 28278338890.081745 sd: 1522247345.1356525
max_depth:5 - mean: 20711437457.662857 sd: 1245440238.8766038
max_depth:10 - mean: 13644715934.301756 sd: 1354335380.2441008

## Predicción para Kaggle

In [570]:
# quedate con las mismas columnas que ar_properties
X_pred = df_pred[X.columns]

In [571]:
# los mejores hiperparámetros encontrados antes
n_estimators = 4000
max_depth = 10

# Entrenamiento
reg = sk.ensemble.RandomForestRegressor(n_estimators=n_estimators, max_depth=max_depth, random_state=42, n_jobs=-1)

# Entrenamos el modelo
reg.fit(X_train, y_train)

# predicción
df_pred["price"] = reg.predict(X_pred)

/tmp/ipykernel_17351/3404264150.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pred["price"] = reg.predict(X_pred)

In [572]:
# Grabo la solución
df_pred[["price"]].to_csv("solucion.csv")